
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}


.attempt {
    display: flex;
    max-height:150px;
    flex-direction: row;
    justify-content: center;
}

.guess1 {
    margin:20px;
    height: 50px;
    width: 50px;
    border: 4px;
    background-color: rgb(132, 90, 151);
    text-align: center;
}

.guess2 {
    margin:20px;
    height: 50px;
    width: 50px;
    border: 4px;
    background-color: rgb(132, 90, 151);
    text-align: center;
}

.guess3 {
    margin:20px;
    height: 50px;
    width: 50px;
    border: 4px;
    background-color: rgb(132, 90, 151);
    text-align: center;
}

.guess4 {
    margin:20px;
    height: 50px;
    width: 50px;
    border: 4px;
    background-color: rgb(132, 90, 151);
    text-align: center;
}

.guess5 {
    margin:20px;
    height: 50px;
    width: 50px;
    border: 4px;
    background-color: rgb(132, 90, 151);
    text-align: center;
}

.guess6 {
    margin:20px;
    height: 50px;
    width: 50px;
    border: 4px;
    background-color: rgb(132, 90, 151);
    text-align: center;
}



